<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag :div, class: 'items' do %>
      <% @items.each do |item| %>
        <%= content_tag :p, id: "item-#{ item.id }", class: 'item' do %>
        <%= content_tag :b, item.name %>
          <br>
          <%= item.description %>
        <% end -%>
      <% end -%>
    <% end -%>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
